.banner {
    height: 50vh;
    position: relative;
    background: url(https://a0.muscache.com/im/pictures/bd754bc8-3dfc-4b04-a805-83d991ccba8d.jpg?im_w=720&im_format=avif) 
}

.banner_info {
    background-color: black;
    color: white;
    padding:  5%;
    width: 200px;

}

banner_info > button {
    background-color: #ff7779;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}

.banner_info > button:hover {
    background-color: rgb(255, 255, 255);
    color: #ff7779;
}

.banner_info > h5 {
    margin-top: 10px;
}

.banner_search {
    display: flex;
    flex-direction: column;
}

.banner_searchButton {
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #ff7779 !important;
}