.facebook-login {
    cursor: pointer;
    transition-property: background, border-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 800;
    padding-left: 22px;
    padding-right: 22px;
    color: rgb(225, 225, 225);
    text-decoration: none;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    background: rgb(69, 104, 178);
    border-color: transparent;
    margin-top: 30px;
    margin-bottom: 8px;
    margin-left: 11px;
    margin-right: 11px;
}

.google-login {
    cursor: pointer;
    transition-property: background, border-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 800;
    color: rgb(72, 72, 72);
    text-decoration: none;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    background: rgb(255, 255, 255);
    border-color:rgb(118, 118, 118);
    margin-left: 11px;
    margin-right: 11px;
}

.login-modal .login-form input {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: #484848;
    padding: 10px;
    font-weight: normal;
    width: 100%;
    border: 1px solid rgb(235, 235, 235);
    background-color: transparent;
    margin-left: 11px;
    margin-right: 11px;
    border-color: rgb(235, 235, 235) !important;
    border-radius: 4px !important;
    margin-bottom: 20px;
}

.login-modal .login-form input::placeholder {
    color: #484848;
}

.sign-up-button {
    display: inline-block;
    position: relative !important;
    text-align: center !important;
    transition-property: background, border-color, color !important;
    transition-duration: 0.2s !important;
    transition-timing-function: ease-out !important;
    cursor: pointer !important;
    width: 100% !important;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: normal !important;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-weight: 800 !important;
    padding-left: 22px !important;
    padding-right: 22px !important;
    background: rgb(225, 90, 95);
    color: white;
    border: none;
    border-radius: 4px;
}

.login-or {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    color: #c1bdbd;
    font-size: 14px;
}


.login-or span {
    position: relative;
    z-index: 10;
    background-color: #f5efef;
    padding: 15px;
}


.divider {
    border: 1px solid #E4E4E4;
    margin: 25px 0px 15px;
}

.login-modal {
    font-size: 14px;
    color: #7f7a7a;
}

.browser-default {
    border: 1px solid #E4E4E4;
    border-radius: 4px;
    padding: 10px;
    width: 99%;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: #484848;
    margin-bottom: 20px;
}

.or-spacer{
    display: flex;
    align-items: center;
    margin: 10px 0 10px 50%;
    position: relative;
    color: #c1bdbd;
    font-size: 15px;
}

